#barcon{text-align:center;margin:0px auto;box-sizing:border-box;margin-top:50px;}
.content{background-image:url('../images/about/bg.jpg');padding-bottom:158px}
.con{height:auto;width:1034px;margin:0px auto;margin-bottom:130px}
.nav_title{width:584px}
.list_title{height:60px;width:65%;float:left}
.list_tab{height:80px;width:35%;float:right;display:flex}
.list_tab p{flex:1;height:32px;line-height:30px;margin:0px;margin-left:24px;text-align:center;margin-top:20px}
#list{clear:both;height:auto;width:100%;position:relative}
.list1{display:flex}
#list li,#list li a{display:block;width:100%;height:40px;line-height:40px;margin:8px 0;text-indent:20px;background:#f0f0f0;cursor:pointer;font-size:14px;}
#list li:hover,#list li:hover a{font-size:16px;color:#0b6cb8!important}
#list li a{color:#101010}
#list li.shipin{margin:auto;width:100px;height:100px;text-align:center;line-height:240px;border-radius:50%;background-size:100% 100%;flex-direction:row;margin-top:60px}
.title{width:100%;text-align:center;float:left;height:100px}
.title h4{height:60px;font-weight:bold;line-height:104px;font-size:20px;letter-spacing:3px}
.title p{height:20px!important;line-height:30px!important}
.nav_title{height:100px;text-align:center;margin:auto;display:flex;width: 584px;}
.nav_title a,.list_tab p{display:block;float:left;border:2px solid #0b6cb8;flex:1;height:36px;line-height:32px;border-radius:20px;color:#000;margin-bottom:0px;margin: 32px 26px;cursor:pointer}
.nav_title a:hover,.list_tab p:hover{background:#0b6cb8;color:#fff}
.nav_title a.hover,.list_tab p.hover{background:#0b6cb8;color:#fff}
.con_title{width:100%;height:85px;display:none}
.con_title h4{height:85px;line-height:85px;font-size:16px;letter-spacing:3px}
.con_title h4 a{font-size:16px;color:#000}
.con_title h4 span{color:#0b6cb8;padding:0px 9px}
.con_title h4 b{font-weight:normal}
.list_title{height:80px;margin:0px auto;height: 80px;
    width: 65%;
    float: left;}
.list_title h4,.xq_title h4{height:48px;line-height:48px;width:100%;float:left}
.list_title span,.xq_title span{display:block;width:36px;height:6px;float:left;background:#0b6cb8}
.list_tab p {
    flex: 1;
    height: 32px;
    line-height: 30px;
    margin: 0px;
    margin-left: 24px;
    text-align: center;
    margin-top: 20px;
}
#page{
    text-align: center;
    margin: 0px auto;
    box-sizing: border-box;
    margin-top: 50px;
    
}
#page button{
    width: 70px;
    height:20px;
    background: #fff;
    cursor: pointer;
    color:#fff;
}