html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,button,table,tr,td,th,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tleft,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,rubanner,section,summary,time,mark,audio,video,textarea,input{margin:0;padding:0;border:0;vertical-align:middle;outline:none!important;border:none;box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;}
a:link,a:hover,a:active,a:visited{text-decoration:none}
@font-face{font-family:'sourcehansanscn-bold';src:url('../font/sourcehansanscn-bold.otf') format('opentype'),url('../font/sourcehansanscn-extralight.otf') format('opentype'),url('../font/sourcehansanscn-heavy.otf') format('opentype'),url('../font/sourcehansanscn-light.otf') format('opentype'),url('../font/sourcehansanscn-medium.otf') format('opentype'),url('../font/sourcehansanscn-normal.otf') format('opentype'),url('../font/sourcehansanscn-regular.otf') format('opentype')}
ul,li{list-style:none}
body,html{position:relative}
.logo,.con{height:auto;width:1034px;margin:0px auto}
.logo1{width: 100%;height: 120px;overflow: hidden;overflow: hidden;}
.logo1 img{width:319px;height: 63px;float: left;margin-top: 20px;}
.logo1 div{
    float: right;
    width: 260px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.logo1 div div{
    margin: 0;
    width: 100%;
}
/* .logo1 a{
    width: 120px;
} */
.logo1 a:nth-child(3n-2){
    text-align: right;
}

.logo1 a,.logo1 p{
    display: block;
    float: left;
    color: #014176;
    padding: 0 5px;
    font-size: 14px;
    line-height: 40px;

}
#login_btn{
width: auto!important;
}
.logo1 a:nth-child(3n-1){
    padding:0
}
.logo1 p{
    float: left;
    font-size: 14px;
    text-align: center;
}

nav{
    width: 100%;
    background: #0b6cb8;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}


nav>ul{width:1034px;height:50px;margin:0 auto;text-align:center;display: flex;}
nav>ul li{flex:1;line-height:50px;height:50px;color:#ffffff;font-size: 16px;overflow: hidden;}
nav>ul li a {display: block;width: 100%;height: 100%; text-decoration: none;color:#ffffff;white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;}
nav>ul li.hover,nav>ul li:hover{
    color: #fff;
    background: #0a5894;
}


/* footer */
footer{
    width: 100%;
    margin-top: 30px;
    position: fixed;
    bottom:0;
    background: #0b6cb8;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 16px;
}

#login{width:100%;height:100%;position:fixed;top:0px;left:0px;background:rgba(0,0,0,0.9);z-index:100000;display:none;color:#f8fcff}
.login{width:666px;height:360px;position:fixed;left:50%;top:50%;margin-left:-333px;margin-top:-180px;border:2px solid #fff;color:#fff}
#admin>div:nth-child(2){text-align:center;line-height:120px;font-size:17px}
.login > button,.zhuce_user >button,.pass_change>button{position:absolute;right:34px;top:34px;width:18px;height:18px;background:rgba(0,0,0,0);background-image:url('../images/close.png')}
.user,.password{width:292px;height:44px;line-height:44px;border:1px solid #c5c2c3;margin-left:180px;margin-top:63px;background:url('../images/login.png') no-repeat;background-position:7px 7px}
.user input,.password input{width:260px;background:none;border:none;text-indent:47px;height: 42px; float: left;color: #fff;}
.password{background:url('../images/password.png') no-repeat;background-position:7px 7px;margin-top:18px}
.zhuce,.login_button{width:292px;height:30px;margin-left:180px;line-height:30px}
.zhuce a{color:#fff}
.zhuce input{margin:0px;margin-top:9px;background:rgba(0,0,0,0);border:1px solid #fff;border-radius:50%;outline:none !important}
.zhuce label,.zhuce input{float:right;font-weight:normal;margin-left:5px;outline:none}
.zhuce label{cursor:pointer}
#login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.9);
    z-index: 100000;
    display: none;
    color: #f8fcff;
}
.login_button button {
    width: 292px;
    height: 50px;
    line-height: 50px;
    background: #0a5894;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
}
.zhuce_user {
    width: 666px;
    height: 598px;
    border: 2px solid #fff;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -333px;
    margin-top: -299px;
    display: none;
    overflow: hidden;
}#visited{width:335px;height:250px;line-height:26px;margin:auto;margin-top:50px;display:none}

.zhuce_user{width:666px;height:598px;border:2px solid #fff;color:#fff;position:fixed;left:50%;top:50%;margin-left:-333px;margin-top:-299px;display:none;overflow:hidden}

#child{width:286px;height:470px;line-height:26px;margin-left:106px;margin-top:75px}
.tui-checkbox:checked{outline:none !important}
.tui-checkbox{width:14px;height:14px;outline:none;border:1px solid #dddddd;-webkit-border-radius:50%;border-radius:50%;font-size:12px;position:relative;display:inline-block;vertical-align:top;cursor:default;-webkit-appearance:none;-webkit-user-select:none;user-select:none;-webkit-transition:background-color ease 0.1s;transition:background-color ease 0.1s}
.tui-checkbox:checked::after{content: '';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
.teach_child{position:absolute;top:82px;right:96px;width:80px !important;height:80px !important}
.teach_child label{font-weight:normal;font-size:12px}
.teach_child label:nth-child(2){margin-bottom:10px;height:40px;line-height:20px}
.teach_child input{margin-right:5px;outline:none !important}
.zhuce_user > div > div,#pass_change>div>div{width:293px;height:34px;line-height:26px;margin-top:8px;margin-left:0px;    position: relative;}
.xuehao p{float:left;width:66px;height:26px;margin-right:15px;letter-spacing:1px;font-size:14px}
.xuehao p span{float:right}
.xuehao input{width:212px;height:30px;line-height:30px;font-size:12px;margin:0px;background:rgba(0,0,0,0);outline:none !important;border:1px solid #c5c2c3;text-indent:10px;color:#fff;}
.sex{width:286px;height:26px;line-height:26px}
.sex label{width:80px;float:left;margin-left:26px;font-size: 14px;}
.sex input{float:left;width:14px;height:14px;margin-right:5px;margin-top:6px}
.input-big{padding:10px;font-size:16px;line-height:24px;height:46px;background: none;}
.code{
    font-family:Arial,宋体;
    font-style:italic;
    color:green!important;
    border:0;
    padding:2px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    background: #fff!important;
    float: left;
    margin: 5px 5px 0 0;    text-align: center;
}
.form-group{
    height: 58px!important; margin-bottom:12px;}
.field{position:relative;    width: 212px;float: left;}
.field span{
    font-size: 14px;
    line-height: 30px;
    margin: 5px 5px 0 0;
    float: left;
}
.xuehao>b {
    position: absolute;
    top: 0;
    color: #a81313;
    line-height: 34px;
    left: 301px;
    width: 180px;line-height: 34px;    font-weight: normal;
    font-size: 14px;
}
.xuehao>b span {
    font-size: 18px;
    float: left;
    line-height: 43px;
    margin-right: 5px;
}
@media screen and (max-width: 1054px){
    .logo, .con,nav>ul{
        width:98%
    }
}
@media screen and (max-width: 610px){
    .logo1 img{
        width: 60%;
    }
    .logo1>div{
        width:40%
    }
}